* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    margin: 0;
    color: #222;
    line-height: 1.6;
    background-color: whitesmoke;
    color: black;
}

body.transition {
    transition: background 0.3s, color 0.8s;
}

main {
    margin: 0 auto;
    padding: 40px 20px;
    max-width: 1400px;
}

.main-header {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    justify-content: space-between;
    background-color: lightblue;
    border-bottom: 7px solid #2c3e50;
    gap: 40px;
}

.nav-links {
    gap: 30px;
    margin-left: auto;
}

.nav-links a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-size: 48px;
    font-weight: 600;
}

.nav-links a.active {
    text-decoration: underline;
}

.page-links img {
    width: 55px;
    height: 55px;
    object-fit: scale-down;
    gap: 16px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2%;
    min-height: 120px;
    width: 100%;
    background-color: lightblue;
    border-top: 7px solid #2c3e50;
    margin: 0;
}

.mode-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.mode-button img {
    width: 30px;
    height: 30px;
    display: block;
}

#education, #work-experience, #skills, #interests {
    box-shadow: 0 8px 20px rgba(0,0,0,0.06);
    border-radius: 12px;
    padding: 30px;
    margin-bottom: 30px;
    border: 4px solid #2c3e50;
}

h1 {
    font-size: 48px;
}

h2 {
    margin-top: 0;
    color: #1f3c4f;
    border-bottom: 2px solid #1f3c4f;
    padding-bottom: 10px;
    font-size: 38px;
}

h3 {
    font-size: 24px;
}

li, .job {
    font-size: 22px;
}

.job {
    margin-bottom: 20px;
}

.job strong {
    display: block;
}

#skills-container {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    display: grid;
    gap: 20px;
    margin-top: 20px;
    text-align: center;
}

.programming-language {
    padding: 20px;
    border-radius: 10px;
    background: #f0f6f9;
    border: 1px solid rgba(56, 189, 248, 0.3);
    border-radius: 10px;
    transition: transform 0.2s;
    font-size: 24px;
}

.programming-language:hover {
    transform: translateY(-5px) ;
}

.language-logo {
    height: 110px;
    max-width: 110px;
    width: 100%;
}

/* Portfolio */

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.project-top {
    box-shadow: 0 8px 20px rgba(0,0,0,0.06);
    border-radius: 12px;
    padding: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    max-width: 2000px;
    margin-bottom: 50px;
}

.project h2 {
    font-size: 32px;
}

.project-text, .project-left {
    position: relative;
    max-height: 800px;
    margin-top: 40px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.project-text-img {
    width: 700px;
    margin-top: 20px;
    align-self: center;
    border: 4px solid #2c3e50;
}

.project-code-img {
    width: 800px;
    height: 100%;
}

.project-text, .project-code-img, .project-img img {
    border: 4px solid #2c3e50;
    border-radius: 15px;
    background-color: #f9f9f9;
}

/* Contact Me */

#contact-me {
    box-shadow: 0 8px 20px rgba(0,0,0,0.06);
    border-radius: 12px;
    padding: 30px;
    margin-bottom: 30px;
}

.contact-form-container {
    position: relative;
    margin: 30px auto;
    padding: 20px;
    max-width: 1300px;
    width: 100%;
    border: 10px solid #2c3e50;
    border-radius: 15px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.contact-form-container label, .contact-form-container fieldset, .contact-form-container legend {
    font-size: 21px;
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
}

.contact-form-container input, .contact-form-container textarea, .contact-form-container fieldset, #submit {
    font-size: 16px;
    padding: 10px;
    resize: vertical;
    border: 2px solid #3498db;
    border-radius: 4px;
    margin-top: 8px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.contact-form-container fieldset label {
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.contact-form-container input:focus, .contact-form-container textarea:focus {
    border-color: #e74c3c;
    outline: none;
}

.duration-group {
    display: flex;
}

#submit {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
    padding: 10px;
    cursor: pointer;
    align-self: flex-end;
    position: static;
    margin-top: -40px;
}

#error-message {
    color: red;
    font-size: 18px;
}

/* Dark Mode */

.dark {
    background-color: rgb(20,20,20);
    color: whitesmoke;
}

.dark .main-header, .dark footer, .dark .programming-language {
    background-color: #1f3a5a;
    border-color: #3f5f8a;
}

.dark #education, .dark #work-experience, .dark #skills, .dark #interests,
.dark .contact-form-container, .dark .project-text, .dark .project-code-img, .dark .project-text-img{
    background-color: #1e1e1e;
    border-color: #3f5f8a;
}

.dark h2, .dark .nav-links a, .dark .page-links {
    color: whitesmoke;
}

.dark h2 {
    border-bottom: 2px solid #3f5f8a;
}